@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color: hsl(11, 87%, 59%);
}
html::-webkit-scrollbar-track {
  background-color: black;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  min-height: 35rem;
  overflow-x: hidden;
}
#Home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Recipe_Homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
}
#Explore {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/RecipeIndex_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Categories {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Recipe_Homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Nationality {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Nationalities_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Create {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Create_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#MyRecipes {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/MyRecipes_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Registration {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Register_HomePage.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Login {
  background-image: url(./assets/Login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Profile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/My_Profile.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#EditProfile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/Profile_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#DeleteProfile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Delete_Image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#RecipeImage {
  height: 300px;
  width: 500px;
}
#Instructions {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 500px;
}
#Bookmark {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Bookmark:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Add to Favourites";
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  left: 95px;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 1;
}
#Edit {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Edit:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Edit Recipe";
  font-family: 'Instrument Serif', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 90px;
  z-index: 1;
}
#Delete {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Delete:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Delete Recipe";
  font-family: 'Instrument Serif', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 90px;
  z-index: 1;
}

@media (max-width:550px) {
  #Instructions {
    margin: auto;
    text-align: center;
    width: 500px;
  }
}

@media (max-width:500px) {
  #Instructions {
    margin: auto;
    text-align: center;
    width: 280px;
  }
}