@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color:var(--light-primary) ;
}
html::-webkit-scrollbar-track {
  background-color: black;
}
:root {

  --Bright-Orange: #f60;
  --light-primary: hsl(11, 87%, 59%);
  --light-primary-hover: hsl(11, 60%, 50%);

}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
}
#Home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Recipe_Homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
#Explore {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/RecipeIndex_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
#Categories {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Recipe_Homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
#Nationality {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Nationalities_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
#Create {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Create_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
#MyRecipes {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/MyRecipes_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
}
#RecipeImage {
  height: 300px;
  width: 500px;
}
#Instructions {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 550px;
}