@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color: hsl(11, 87%, 59%);
}
html::-webkit-scrollbar-track {
  background-color: black;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  min-height: 50rem;
  overflow-x: hidden;
}
#Home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Recipe_Homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
}
#Explore {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/RecipeIndex_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Categories {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Recipe_Homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Nationality {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Nationalities_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Create {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Create_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#MyRecipes {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/MyRecipes_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Registration {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Register_HomePage.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Login {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/Login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Profile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/My_Profile.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#EditProfile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/Profile_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#DeleteProfile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Delete_Image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#RecipeImage {
  height: 300px;
  width: 500px;
}
#Instructions {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 500px;
}
#ProfileIcon {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#ProfileIcon:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "My Profile";
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 40.5px;
  text-align: center;
  transform: translateX(-50%);
  width: 80px;
  z-index: 1;
}
#Bookmark {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Bookmark:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Add to Favourites";
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  left: 95px;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 1;
}
#Edit {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Edit:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Edit Recipe";
  font-family: 'Instrument Serif', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 90px;
  z-index: 1;
}
#Delete {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Delete:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Delete Recipe";
  font-family: 'Instrument Serif', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 90px;
  z-index: 1;
}
#Play {
  background-color: #f60;;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 1rem 1rem;
  position: absolute;
  top: 10.5rem;
  left: 12rem;
  width: 60px;
  z-index: 3;
}
#Play::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 10px solid #fff;
  border-radius: 50%;
  animation: Bloom1 1.5s linear 0.5s infinite;
  opacity: 0;
  z-index: 1;
}
#Play::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 10px solid white;
  border-radius: 50%;
  animation: Bloom2 1.5s linear 0.5s infinite;
  opacity: 0;
  z-index: 1;
}


@keyframes Bloom1 {

0% {
  transform: scale(0.5);
}
50% {
  opacity: 1;
}
100% {
  transform: scale(1.5);
}
}
@keyframes Bloom2 {

0% {
  transform: scale(0.5);
}
50% {
  opacity: 1;
}
100% {
  transform: scale(1.5);
}
}

@media (max-width: 1200px) {
  #Play {
    position: absolute;
    top: 10rem;
    left: 8rem;
  }
}

@media (max-width: 860px) {
  #Play {
    position: absolute;
    top: 10rem;
    left: 5.5rem;
  }
}

@media (max-width:550px) {
  #Instructions {
    margin: auto;
    text-align: center;
    width: 500px;
  }
  #Play {
    position: absolute;
    top: 10rem;
    left: 14rem;
  }
}

@media (max-width:500px) {
  #Instructions {
    margin: auto;
    text-align: center;
    width: 280px;
  }
  #Play {
    position: absolute;
    top: 10rem;
    left: 10rem;
  }
}

@media (max-width: 428px) {
  #Play {
    position: absolute;
    top: 10.5rem;
    left: 10rem;
  }
}

@media (max-width: 375px) {
  #Play {
    position: absolute;
    top: 10rem;
    left: 9rem;
  }
}
